.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  bottom: 0;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.module{
  color : white;
  text-decoration: none;
  margin-left: 10px;
}
.module:hover{
 transform: scale(1.2);
  
}

.header{
  width: 100%;
}

.UpdateDeleteBtn{
  margin-right: 5px;
  height: 40px;
}

.danger{
  color: red;
}

@font-face {
  font-family: myFont;
  src: url(../public/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

.myFont{
  font-family: myFont;
}

.primary{
  background-color: #FF6D60;
}
.secondary{
  background-color: #F7D060;
}
.third{
  background-color: #F3E99F;
}
.fourth{
  background-color: #98D8AA;
}

.formAchat{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}
.otherButton{
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #FF6D60 -6px -6px 12px #F7D060 ;  
}
.myButton{
  margin-right: 1em;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  background:#98D8AA ;
  box-shadow: 6px 6px 12px #FF6D60 -6px -6px 12px #F7D060 ;  
}
.myButton::before{
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top:0;
  left: 0;
  background-image: linear-gradient(to right, #98D8AA 0%, #FF6D60 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}
.myButton:hover::before{
  width: 9em;
}


